.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.buttonContainer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  background-color: #f0f0f0; 
  padding: 10px;

  button {
    cursor: pointer;
    padding: 5px 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.contentContainer {
  flex: 1; 
  overflow: auto;
  padding: 20px; 
}
